# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Artifacts
artifacts/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
