# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Artifacts
artifacts/
!artifacts/sample_metadata.json
!artifacts/schema.example.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/tfplan
