<!DOCTYPE html>
<html style="background-color: skyblue;">
<head>
    <meta charset="UTF-8" />
    <title>Churning model</title>
</head>
<body>
  
  <div class="login">
       <h1>Customer Churn Prediction</h1>
   
       <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('predict_datapoint')}}" method="post">
           <input type="text" name="CreditScore" placeholder="Credit Score" required="required" /><br>
           <input type="text" name="Geography" placeholder="Geography (France/Germany/Spain)" required="required" /><br>
           <input type="text" name="Gender" placeholder="Gender (Male/Female)" required="required" /><br>
           <input type="text" name="Age" placeholder="Age" required="required" /><br>
           <input type="text" name="Tenure" placeholder="Tenure" required="required" /><br>
           <input type="text" name="Balance" placeholder="Balance" required="required" /><br>
           <input type="text" name="NumOfProducts" placeholder="Number of Products" required="required" /><br>
           <input type="text" name="HasCrCard" placeholder="Has Credit Card (0 or 1)" required="required" /><br>
           <input type="text" name="IsActiveMember" placeholder="Is Active Member (0 or 1)" required="required" /><br>
           <input type="text" name="EstimatedSalary" placeholder="Estimated Salary" required="required" /><br>

           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
       </form>

       <h2>
           The churn prediction is {{ results }}  

































</body>
</html>